.settings__profile {
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  width: 150px;
  height: 150px;
  text-align: left;
}

.body__section {
  padding: 30px 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .GNSzzq7thIGJvQKQMnUF4 {
    height: 20px;
  }
  h2 {
    color: #0275a9;
    display: block;
    font-size: 24px;
    padding-right: 20px;
  }
}
.seperator {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
