.header-menu-item {
  margin: 0.3rem 1.2rem;
  overflow: hidden;
  padding: 20px 0 8px;
  .menu-list.header-menu-link {
    color: #4e5565;
    font-size: 18px;
  }
  .menu-signup.header-menu-link {
    color: #fff;
    border: solid 1px #0275a9;
    background: #0275a9;
    // border-radius: 9999px;
    padding: 9px 20px;
    transition: all 0.5s ease;
    white-space: nowrap;

    &::before {
      height: 0;
    }
    &:hover {
      background: #02608b;
      color: white;
    }
  }
  .menu-signin.header-menu-link {
    &::before {
      height: 0;
    }
  }
  .header-menu-link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      transition: transform 0.5s ease;
      height: 2px;
      width: 100%;
      background: #0275a9;
      transform: scaleY(0);
    }
    &:hover {
      color: black;
    }
    &:hover::before {
      transform: scaleY(1);
    }
    color: black;
  }
}
