@import "../../scssVariables";
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .signup-box {
    overflow: hidden;
    .box-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -25px;
      height: 560px;
      width: 300px;
      background-color: $primary;

      .Particels {
        fill: #fff;
        position: absolute;
        top: 0;
        left: -50px;
      }
    }
    position: relative;

    width: 100%;
    max-width: 700px;
    height: 560px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .signup-header {
      font-family: "Proxima Nova Rg";
      font-size: 32px;
      color: $primary;
      position: relative;
    }
  }
  .alert {
    width: 90%;
  }
  .forgot-password {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: $primary;
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .sign-up {
    .signup-box {
      padding: 0;
      width: 90%;
      height: 580px;

      .box-header {
        display: none;
      }
    }
    .signup-header {
      font-family: "Proxima Nova Rg";
      font-size: 24px;
      text-align: center;
      color: $primary;
      position: relative;
      padding-top: 15px;
    }
    .ant-spin-nested-loading {
      width: 90%;
    }
  }
}
