@import '../../../theme/_scssVariables.scss';

.reset-password {
  background-color: $primary;
  width: 100%;
  height: 100vh;
  h1 {
    color: $primary;
  }
  p {
    color: $primary-text;
    font-size: 18px;
  }
}
