@import '../../scssVariables';

.title-home {
  width: 100%;
  color: $primary;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.main-text {
  font-size: 18px;
  width: 80%;
  text-align: center;
  //   margin-right: auto;
}
@media screen and (max-width: 600px) {
  .main-text {
    width: 90%;
  }
}
.divider-text span {
  color: $primary-darken;
  font-size: 20px;
}

.main-text-full {
  width: 100%;
}
