@import '../../theme/scssVariables';

.title-home {
  width: 100%;
  color: $primary;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.affix {
  position: absolute;
  right: 20px;
  font-size: 16px;
  .list {
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    margin-top: 10px;
  }
  a {
    padding: 10px 0;
    text-transform: capitalize;
    padding-left: 5px;
    color: white;
  }
  a.selected-society {
    position: relative;
    left: -2px;
    border-left: 3px solid $primary;
    color: $primary;
    font-weight: bold;
    text-shadow: 0 0 1px white;
  }
}
.main-text {
  font-size: 18px;
  width: 80%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .main-text {
    width: 90%;
  }
  .affix {
    .list {
      flex-direction: row;
      background-color: $primary;
      width: 90vw;
      justify-content: space-between;
      padding: 0 10px;
      border: 0;
    }
    a.selected-society {
      border-bottom: 3px solid white;
      color: white;
      font-weight: bold;
      text-shadow: none;
    }
  }
}
.divider-text span {
  color: $primary-darken;
  font-size: 20px;
}

.main-text-full {
  width: 100%;
}
