@import '../../../theme/scssVariables';
.announcment {
  padding: 0;
  border-radius: 3px;
  .title {
    position: relative;
    background-color: $primary;
    border-radius: 3px 3px 0 0;
    color: #eceaea;
    width: 100%;
    padding: 15px;
    padding-left: 90px;
    text-transform: capitalize;
  }
  .logo {
    opacity: 0.5;
    font-size: 56px;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
  img {
    padding-top: 20px;
    width: 70%;
  }
  .ann__box {
    width: 80%;
    max-width: 710px;
    position: relative;
    margin: 30px 0;

    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fb;
    border: 1px solid #d8d8d8;
    .ann-box-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  .ann-box-row {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

    font-size: 18px;
    color: $primary-text;
    border: 1px solid #d8d8d8;
    margin-top: -1px;
    .label {
      margin-right: auto;
      text-align: left;
    }
  }
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      margin: 0 auto 10px;
    }
  }
}
