@import "../../scssVariables";

.btn {
  color: #fff;
  border: solid 1px $primary;
  background: $primary;
  width: 90%;
  cursor: pointer;
  padding: 9px 20px;
  transition: all 0.5s ease;
  white-space: nowrap;
  margin: $sm-size;

  &:hover {
    background: $primary-darken;
    color: white;
  }
}

.btn .btn--inverted {
  background: transparent;
  border: 1px solid $primary;
  color: $primary;
  &:hover {
    background: $primary;
    color: #fff;
  }
}
