.main-btn {
  border: 2px solid #0275a9;
  background-color: #fcfcfc;
  padding: 3px 15px;
  margin: 10px;
  color: #0275a9;
  font-family: "Proxima Nova Bold", sans-serif;
  -webkit-box-shadow: 4px 4px 0px 0px #0275a9;
  box-shadow: 4px 4px 0px 0px #006999;
  cursor: pointer;
  position: relative;
  right: 0px;
  bottom: 0px;
  transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: 2px 2px 0px 0px #0275a9;
    box-shadow: 1px 1px 0px 0px #006999;
    right: -3px;
    bottom: -3px;
  }
}
