@import '../../theme/_scssVariables.scss';
.societies {
  &.computer {
    background-color: darken($color: $computer, $amount: 14);
    p {
      color: white;
    }
    .bannar {
      background-image: url('../../assets/socities/computer_bannar.jpeg');
    }
  }
  &.ras {
    background-color: lighten($color: $ras, $amount: 2);
    .logo {
      width: 170px;
    }
    .bannar {
      background-image: url('../../assets/socities/ras_bannar.jpeg');
    }
  }
  &.wie {
    background-color: lighten($color: $wie, $amount: 2);
    .logo {
      width: 170px;
    }
    .bannar {
      background-image: url('../../assets/socities/wie_bannar.jpeg');
    }
  }
  &.pes {
    background-color: lighten($color: $pes, $amount: 2);
    .bannar {
      background-image: url('../../assets/socities/pes_bannar.jpeg');
    }
  }
  &.blackhole {
    background-image: url('../../assets/blackHole_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    p {
      width: 50%;
      position: relative;
      left: -8%;
      text-align: left;
      text-shadow: black 3px 3px;
    }
  }
  .logo {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 100%;

  font-size: 20px;
  text-align: center;
  .title {
    font-size: 32px;
    color: white;

    font-weight: bold;
  }
  .bannar {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);

    position: relative;
    bottom: -40px;

    &::before {
      content: ' ';
      height: 400px;
      width: 100%;
      opacity: 0.5;
      background-color: $secondary;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  p {
    width: 80%;
    text-align: justify;
    color: #eee;
    text-shadow: black 1px 1px;
  }
}
@media (hover: none) {
  .societies {
    .bannar {
      background-attachment: initial;
    }
  }
}
