@import '../../theme/scssVariables';
.model-paragraph {
  width: 90%;
}
.ReCAPTCHA {
  margin: 20px 0;
}
.event {
  position: relative;
  padding: 0;
  border-radius: 5px;

  header {
    border-radius: 5px 5px 0 0;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    img {
      height: auto;
      width: 120px;
      margin: 0 30px;
    }

    &.computer {
      background-color: $computer;
    }
    &.ras {
      background-color: $ras;
    }
    &.wie {
      background-color: $wie;
      img {
        width: 100px;
      }
    }
    &.pes {
      background-color: $pes;
    }
    h1 {
      padding: 25px 0;
      margin: 0;
      font-weight: bold;
      color: #f1f1f1;
      text-transform: capitalize;
    }
    @media screen and (max-width: 400px) {
      img {
        display: none;
      }
      h1 {
        padding-left: 15px;
      }
    }
  }

  .desc {
    width: 70%;
  }

  .image {
    width: 80%;
    max-width: 710px;

    border: 2px solid $primary;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 5px;
  }
  .typo {
    font-size: 18px;
    color: $primary-text;
  }
  .event-title {
    color: $primary-darken;
    font-size: 22px;
    margin-bottom: 20px;
  }
  text-align: center;
  .preview {
    margin: 20px 0;
  }

  .text {
    color: $primary-text;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
  .container-event {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
  }
  .title {
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    background-color: $primary;
    width: 100%;
    text-align: center;

    margin-bottom: 30px;
  }

  .event__box {
    width: 80%;
    max-width: 710px;
    position: relative;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fb;
    border: 1px solid #d8d8d8;
    .event-box-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .event-box-row {
      background-color: #ffffff;

      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px;

      font-size: 18px;
      color: $primary-text;
      border: 1px solid #d8d8d8;
      margin-top: -1px;
      .label {
        margin-right: auto;
        text-align: left;
      }
    }
  }
  .desc {
    h2 {
      color: $secondary;
      font-weight: bold;
      margin: 20px 0;
    }
  }
  .join-btn {
    line-height: 40px;
    height: 60px;
    font-size: 18px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .event {
    top: 0;
    .event__box {
      width: 100%;
      max-width: 100%;
      margin: 20px 0 0 0;
      height: auto;
    }
    .image {
      width: 100%;
    }
  }
}
