@import '../../../theme/_scssVariables.scss';

.body {
  .title {
    color: $primary;
  }
  .typography {
    width: 80%;
    font-size: 18px;
  }
  .list {
    width: 90%;
  }
  video {
    max-width: 90%;
    height: auto;
  }
}
