@import "../../scssVariables";

.profile__picture {
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  background-color: #ccc;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  .anticon-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    font-size: 50px;
  }
}

.profile__name {
  margin-top: 100px;
  color: $primary-text;
  text-transform: capitalize;
}
.profile__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.profile__box {
  width: 100%;
  padding: 20px;
  height: fit-content;
  background-color: #f7f9fb;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  margin: 15px 2%;
  h2 {
    color: $primary-darken;
  }
}

.profile__info {
  width: 100%;
  h2 {
    color: $primary-darken;
  }
}
@media only screen and (max-width: 1000px) {
  .profile {
    width: 90%;
  }
  .profile__info {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    width: 80%;
  }

  .profile__info {
    height: fit-content;
  }
}

@media only screen and (max-width: 400px) {
  .profile {
    width: 90%;
  }
}
