@import '../../../theme/scssVariables';
.top3 {
  border: #d8d8d8 1px solid;
  padding: 0px;
  width: 90%;
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  .user__card {
    width: 100%;
  }
  .user__card:first-of-type {
    .users__card__bg {
      background-color: #d6af36;
    }
  }
  .user__card:nth-of-type(2) {
    .users__card__bg {
      background-color: #a7a7ad;
    }
  }
  .user__card:last-of-type {
    .users__card__bg {
      background-color: #a77044;
    }
  }
  .trophy {
    width: 80px;
    position: absolute;
    top: -80px;
    right: 0;
  }
  @media screen and(max-width:500px) {
    width: 100%;
  }
}
