.users__body {
  width: 60%;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  background-color: #fff;
  min-height: 20vh;
  margin: 0 auto 20px;
  position: relative;
  top: 100px;
  padding: 25px;
}
.user__title {
  width: 100%;
  color: #02608b;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .users__body {
    width: 90%;
    padding: 5px;
    top: 100px;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 401px) {
  .users__body {
    width: 90%;
    padding: 5px;
    top: 100px;
  }
}
