.users__body {
  width: 80%;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  background-color: #fff;
  margin: 20px auto 20px;
  position: relative;
  padding: 25px;
}
.user__title {
  width: 100%;
  color: #02608b;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .users__body {
    width: 90%;
    padding: 5px;
  }
}
