@import '../../../theme/_scssVariables.scss';
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

  .signup-box {
    overflow: hidden;
    position: relative;

    .ReCAPTCHA {
      margin-bottom: 0;
    }
    .box-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -25px;
      top: 0;
      bottom: 0;
      min-height: 560px;
      height: 100%;
      width: 180px;
      background-color: $primary;
      .Particels {
        fill: #fff;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: -50px;
      }
    }
    .form {
      margin-left: 150px;
    }
    position: relative;

    width: 100%;
    max-width: 700px;
    min-height: 560px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .signup-header {
      font-family: 'Proxima Nova Rg';
      font-size: 32px;
      color: $primary;
      position: relative;
    }
  }
  .alert {
    width: 90%;
    margin-bottom: 10px;
  }
  .forgot-password {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: $primary;
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .sign-up {
    .signup-box {
      padding: 0;
      width: 90%;
      height: 580px;

      .box-header {
        display: none;
      }
      .form {
        margin-left: 0;
      }
    }
    .signup-header {
      font-family: 'Proxima Nova Rg';
      font-size: 24px;
      text-align: center;
      color: $primary;
      position: relative;
      padding-top: 15px;
    }
    .ant-spin-nested-loading {
      width: 90%;
    }
  }
}
