@import '../../../theme/_scssVariables.scss';
.user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  h1 {
    margin-top: 20px;
    color: $secondary;
    span {
      color: $primary;
      font-weight: bold;
    }
  }
}
